{{#with flash}}
    <!-- TODO expand this so it's possible to show multiple alerts here and all attributes should be configurable.
            Maybe move alerts to separate partial -->
    <div class="alert alert-{{name}} alert-dismissible fade show" role="alert">
        {{msg}}
    </div>
{{/with}}
