<header>
    <div class="blog-masthead">
        <div class="container">
            <nav class="nav">
                {{#each menus.main }}
                    {{~> link this ~}}
                {{/each}}
            </nav>
        </div>
    </div>

    <div class="container">
        {{~> frontend/partials/flash ~}}
    </div>

    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">{{meta.title}}</h1>
            <p class="lead blog-description">{{meta.description}}</p>
        </div>
    </div>
</header>
