<!DOCTYPE html>
<html lang="en">
{{~> frontend/partials/head}}
<body>

{{~> frontend/partials/header}}

<main role="main" class="container">

    <div class="row">

        <div class="col-sm-8 blog-main">

            {{~> blog_main}}

        </div><!-- /.blog-main -->

        {{~> frontend/partials/sidebar}}

    </div><!-- /.row -->

</main><!-- /.container -->

{{~> frontend/partials/footer}}

{{~> frontend/partials/foot}}
</body>
</html>