{% extends "frontend/base" %}

{% block blog_main %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ data.title }}</h2>
        <p class="blog-post-meta">{{ data.published_at }} by {{ data.author }}</p>
        <p>{{ data.body | safe }}</p>
    </div>
{% endblock blog_main %}
